body{
	background-image: url('../img/hero-image.jpg');
	background-repeat:no-repeat;
	background-size:70%;
	font-family: 'Roboto Condensed', sans-serif;
}

.container{
	margin-top: 7%;
	
}

a{
	text-decoration: none;
	display:inline-block;
	color:#000;
}