$bottom: 1px dashed #e3e3e3;
$top: 1px dashed #e3e3e3;
$borderPadding: 2%;

body{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Lato', sans-serif;
	/*background-color:#d2d2d2; */
}

	main{
		width:50%;
		margin:0 auto;
		padding: 2% 5%;
		border:1px groove #e3e3e3;
	}
		h1{
		border-bottom:$bottom;
		padding-bottom:$borderPadding;
		}

		div {
			#landline{
				clear:left;
			}
		}

		#gender{
			float:left;
			width:45%;
			margin-top: 2%;
		}

		#birthdate{
			float:right;
			width:55%;
			margin-top:2%;
		}


	.full{
		width:100%;
	}

	#year{
		padding-bottom:$borderPadding;

	}

		#emergency{
			border-top:$top;
			padding-top:$borderPadding;
		}

		#state, #zip{
			width:50%;
			float: left;
		}

		#zip{
			p{
				display:block;
			}
		}

		#state {
			p{
				display:block;
			}
		}
	

	#work-phone{
	border-bottom:$bottom;
	}

	#medical-info{
		border-top: $top;
		padding-top:$borderPadding;

	}

	#insurance{
		margin-top:2%;
	}

	.physician {

		.physician-no{
			width: 12%;
		}

	}

	textarea{
		width: 90%;
	    height: 120px;
	    margin-top: 2%;
	}

	#text{
	display:block;
	}

	p{
	display:inline-block;
	}

	/*GLOBAL*/
	.move-left{
		margin-left:20%;
	}