@import 'gradients';

.content-wrapper{
	display:flex;
	justify-content: flex-end;
	/*flex-direction: column;*/
	/*align-content: column;*/
}

.yellow{
	outline:1px solid black;
	width:5%;
	@include gradients;

}

.blue{
	outline:1px solid black;
	width:5%;
	height:32px;
}