body {
  background-color: #aaa;
}

.container{
  border:1px solid black;
  width:60%;
  margin:1% auto 20%;
  background-color:#ddd;
  height:90px;
  text-align: center;
  padding-top:4%;
}

span {
  width:8%;
  height:20px;
  display:inline-block;
  background-color:#00007f;
  border-radius: 10%;
  color:#fff;
}