@import 'variables';

body {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

table tr td{
	border:1px solid #000;
	border-collapse: collapse;
}

#dark-blue{
 background-color:$hundred;
}

#medium-blue{
	background-color: $medium;
}

#medium-close{
	background-color: $mediumish;
}

#pale-blue{
	background-color: $pale;
}

#average-blue{
	background-color: $average;
}

#mediocre {
	background-color: $mediocre;
}